* {
  --dark-red: #d32d2d;
  --red: #ef4a4a;
  --light-red: #f36363;
}
.landing-page {
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  color: var(--light-red);
  font-weight: bold;
}
.landing-page h1 {
  text-align: center;
}
.main-content {
  width: 100%;
  height: 80%;
  gap: 3rem;
  justify-content: space-around;
}
#cube-img {
  width: 4rem;
  margin: 1rem 0;
  animation: roll infinite 1s ease-out;
}
@keyframes roll {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.game-settings-form {
  margin-right: 3rem;
}
.settings-form {
  gap: 0.3rem;
  width: max-content;
}
.settings-form > input {
  background-color: rgba(243, 99, 99, 0.2);
  outline: none;
  border: none;
  border-radius: 5px;
  height: 1.5rem;
}
.settings-form > button {
  background-color: var(--dark-red);
  border: none;
  height: 2rem;
  color: #91e7ea;
  font-size: x-large;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 2rem;
}
.settings-form > button:hover {
  background-color: var(--red);
}

@media (max-width: 500px) {
  .game-settings-form {
    margin: 0;
  }
  .main-content {
    gap: 0;
  }
}
