.game-page {
  background-color: var(--table-green);
  margin: 1rem 1rem;
  border-radius: 10px;
  height: 70vh;
  margin-bottom: 0;
  outline: 7px solid #630606;
  padding-top: 0.3rem;
}

.players-container {
  height: 50%;
}
.players-container button {
  height: min-content;
}
.game-page button {
  background-color: #d9ce3f;
  border: none;
  color: #890f0d;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
}
.game-page button:hover {
  color: #630606;
  background-color: #c8bf38;
}
